body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f6fa;
    color: #e7dede;
}
.sidebar {
    background-color: #374050; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 250px; /* Ширина бокового меню */
    height: 100vh; /* Высота бокового меню (по высоте экрана) */
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

/* Стили для содержимого */
.content {
    display: flex; /* Располагаем дочерние элементы внутри контейнера */
    width: 100%;
    flex-direction: column; /* Устанавливаем направление flex-контейнера на вертикальное */
    gap: 10px; /* Отступ между колонками */
}

/* Стили для каждой колонки */
.columnName {
    height: 12%;
    align-items: flex-start;
    background-color: #ffffff;
}
.columnTitle {
    width: 60%;
    height: 5%;
    background-color: #f2f6fa; /* Цвет фона */
}
.nameData {
    position: relative;
    display: flex;
    color: #4b5563;
    flex-direction: column;
}
.dataData {
    position: relative;
    display: flex;
    color: #4b5563;
    flex-direction: column;
}
.nameData p {
    margin: 0; /* Убираем внешние отступы у абзацев */
}
.dataData p {
    margin: 0; /* Убираем внешние отступы у абзацев */
}
.columnData {
    width: 60%;
    padding: 20px;
    background-color: #ffffff;
}
.btn {
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    top: 16%; /* Располагаем кнопку по вертикали по центру */
    right: 20px; /* Отступ справа */
    font-size: 17px;
    background-color: #0fc5ff; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 15px 50px; /* Внутренние отступы */
    border: none; /* Убираем границу */
    border-radius: 12px; /* Закругляем углы */
    cursor: pointer; /* Изменяем курсор при наведении */
}

.btn:hover {
    background-color: #0056b3; /* Изменяем цвет фона при наведении */

}
.submitPr {
    font-size: 17px;
    padding: 15px 50px; /* Внутренние отступы */
    color: #fff; /* Цвет текста */
    border-radius: 12px; /* Закругляем углы */
    background-color: #0fc5ff; /* Цвет фона */
    cursor: pointer; /* Изменяем курсор при наведении */
    border: none; /* Убираем границу */
    width: 20%;
}
input, select{
    font-size: 18px;
    width: 75%; height: 40px; border-radius: 8px;border: none;
}

.submitPr:hover {
    background-color: #0056b3; /* Изменяем цвет фона при наведении */
}
.adminName {
    position: absolute;
    font-size: 20px;
    margin-top: 2%;
    right: 20px;
    color: #333;
}
.activeText {
    position: absolute;
    font-size: 19px;
    /* display: flex; */
    left: 19%;
    color: #ed1c24;
    /* width: 7rem; */
    margin-top: 2%;
    font-weight: bold;
    text-transform: uppercase;
}

.activeText::after {
    content: '';
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ed1c24;
}
.p-4 {
    padding: 1rem;
}
.bg-calypso-700 {
    --tw-bg-opacity: 1;
    background-color: #374050;
}
.bg-calypso-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 249 251 / var(--tw-bg-opacity));
}
.justify-between {
    justify-content: space-between;
}
.flex-col {
    flex-direction: column;
}
.min-h-screen {
    min-height: 100vh;
}
.w-72 {
    width: 18rem;
}
.min-h-full {
    min-height: 100%;
}
.flex {
    display: flex;
}
.float-left {
    float: left;
}

.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}
.titles {
    position: relative;
    top: 10px;
    left: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
}
.product-item{
    display: grid;
}
.product p {
    margin: 5px 0;
}
.product-info {
    font-size: 16px;
}

.product-info h3 {
    margin-top: 0;
}

.product-info p {
    margin: 5px 0;
    color: #666;
}

.product-info p:first-child {
    font-weight: bold;
}
.modal {
    display: none; /* По умолчанию модальное окно скрыто */
    position: fixed; /* Фиксированное позиционирование */
    z-index: 1000; /* выше всех остальных элементов */
    left: 0;
    top: 0;
    width: 100%; /* Ширина равна ширине экрана */
    height: 100%; /* Высота равна высоте экрана */
    overflow: auto; /* Добавляем прокрутку, если содержимое модального окна не помещается на экране */
    background-color: rgb(0, 0, 0); /* Цвет фона */
    background-color: rgba(0, 0, 0, 0.4); /* Добавляем немного прозрачности */
}

/* Стили для содержимого модального окна */
.modal-content {
    background-color: #374050;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
.form1 {
    display: flex;
    flex-direction: column;
}
/* Стили для кнопки закрытия модального окна */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.inputAtr {
    display: flex;
    width: 75%;
}
.titleAtr{
    display: flex;
    width: 41%;
    justify-content: space-between;
}
