.sidebar {
    background-color: #273746; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 250px; /* Ширина бокового меню */
    height: 100vh; /* Высота бокового меню (по высоте экрана) */
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

/* Стили для содержимого */
.content {
    margin-left: 250px; /* Сдвигаем содержимое вправо на ширину бокового меню */
    padding: 20px;
}
